@import "tailwindcss";

@theme inline {
  --color-plum: #563440;
  --color-blush: #ECDCD8;
  --color-rose: #D496A7;
  --color-lavender: #B2A4C0;
  --color-background: #ffffff;
  --color-foreground: #563440;
  --font-heading: var(--font-josefin);
  --font-body: var(--font-nunito);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
